django
gunicorn
whitenoise
dj-database-url
pillow
python-dotenv
wheel
psycopg2
psycopg2-binary==2.8.6
psycopg
django-admin-rangefilter
jpholiday
python-dateutil
django-import-export
django-widget-tweaks
