{% extends "registration/base.html" %}
{% block main %}
{% load tag_library %}
<h1>会員ページ</h1>
<p><a>{{ user.full_name }}さん、こんにちは！</a>
<a href="{% url 'user_update' user.id %}">編集</a></p>
<table class="table table-striped">
  <thead>
<tr>
<th><a>希望シフト</a>　
<a href="{% url 'index_post'  %}">一覧へ</a></th>
<th></th>
</tr>
</thead>
{% for post in object_list %}
<tr class="text-center">
<td><div>{{ post.date|date:"Y/m/d" }}{{ post.date | date:"l" | w_name }}</div>
<div>{{ post.get_start_time_display }}〜{{ post.get_end_time_display }}</div></td>
  {% if post.published == True %}

<td>
    <a class="btn  btn-primary btn-xs" href="{% url 'update' post.id %}">編集</a>
<a class="btn  btn-danger btn-xs" href="{% url 'delete' post.id %}">削除</a>
</td>
{% else %}
<td></td>
  {% endif %}
{% empty %}
<td>希望シフトがありません</td><td></td>
{% endfor %}
</tr>
</table>
{% include "blog/pagination.html" %}
<p>
  <form method="post" onSubmit="return check()">
  <div class="btn-group">
<p><a class="btn  btn-primary" href="{% url 'month_with_forms' %}">シフト提出</a>
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">完了</button>
      </div>
  </form>
{% if user.is_staff %}
<p>
<a href="/dahutos-admin/">管理画面へ</a>
{% endif %}
<script type="text/javascript">

  function check(){

    if(window.confirm('完了してよろしいですか？')){ // 確認ダイアログを表示

      return true; // 「OK」時は送信を実行

    }
    else{ // 「キャンセル」時の処理

      window.alert('キャンセルされました'); // 警告ダイアログを表示
      return false; // 送信を中止

    }

  }
</script>

{% endblock %}
