{% extends "registration/base.html" %}
{% block main %}
<h1>会員ページ</h1>
<a>{{ user.full_name }}さん、こんにちは！</a>
<p><a href="{% url 'user_update' user.id %}">アカウントの編集</a></p>

<h3>シフト一覧(上位１０件)</h3><a href="{% url 'index_post'  %}">その他シフト</a>
<p>
{% for post in object_list|slice:":10" %}
{% if post.published == True %}
<li><a href="{% url 'detail' post.id %}">{{ post.date|date:"Y/m/d" }}</a>
{% else %}
<li><a>{{ post.date|date:"Y/m/d" }}</a>
{% endif %}
<a>{{ post.get_start_time_display }}〜{{ post.get_end_time_display }}</a></li>
{% endfor %}</p>


<p><a href="{% url 'month_with_forms' %}">新規投稿</a></p>
<p><a href="{% url 'complite' %}">完了</a>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}
