{% extends "time_sheet/base.html" %}
{% block main %}
{% load tag_library %}
<h2>確認</h2>
<p>希望シフトに間違いはありませんか？</p>
  <table class="table table-striped text-center">
    <thead>
  <tr>
  <th>日付</th>
  <th>開始</th>
  <th>終了</th>
  </tr>
  </thead>
  {% for post in formset %}
  <tr class="text-center">
      <td>{{ post.date | date:"m/d" }}{{ post.date | date:"l" | w_name }}</td>
      <td>{{ post.start_time }}</td>
      <td>{{ post.end_time }}</td>
  {% endfor %}
  </tr>
  </table>
  <form method="POST">
      <button type="submit" class="btn btn-primary btn-lg">送信</button>
          {% csrf_token %}
      </form>
    <input type="button" class="btn btn-primary btn-lg" value="戻る" onClick="javascript:history.go(-1);">
{% endblock %}
