{% extends 'admin/base_site.html' %}
{% load tag_library %}
{% block branding %}
確認
{% endblock %}
{% block title %}
確認
{% endblock %}
{% block content %}
<table>
  <thead>名前一覧</thead>
  <tbody>
{% for object in object_list %}
<tr>
<td>
{% if object == user %}
　{% if object.is_authenticated %}
{{ object }}⭐️⭐️ シフト数: <b><font size='4'>{{ object.related_user.all.count }}</font></b>
<p>最終ログイン: <b>{{ object.last_login }}</b>, 作成日: <b>{{ object.date_joined }}</b>
　{% else %}
{{ object }} シフト数: <b><font size='4'>{{ object.related_user.all.count }}</font></b>
  <p>最終ログイン: <b>{{ object.last_login }}</b>, 作成日: <b>{{ object.date_joined }}</b>
　{% endif %}
{% else %}
　{% if object.is_authenticated %}
{{ object }}⭐️ シフト数: <b><font size='4'>{{ object.related_user.all.count }}</font></b>
  <p>最終ログイン: <b>{{ object.last_login }}</b>, 作成日: <b>{{ object.date_joined }}</b>
  {% else %}
  { object }} シフト数: <b><font size='4'>{{ object.related_user.all.count }}</font></b>
  <p>最終ログイン: <b>{{ object.last_login }}</b>, 作成日: <b>{{ object.date_joined }}</b>
  {% endif %}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
