{% extends 'admin/base_site.html' %}
{% load tag_library %}
{% block branding %}
確認
{% endblock %}
{% block title %}
確認
{% endblock %}
{% block content %}
<table>
  <thead>名前一覧</thead>
  <tbody>
{% for object in object_list %}
<tr>
<td>
{{ object }}
<p>
シフト数: 編集可 <b><font size='4'>{{ object.related_user|editable:"True" }}</font></b>,
編集不可 <b><font size='4'>{{ object.related_user|editable:"False" }}</font></b>
<p>最終ログイン: <b>{{ object.last_login }}</b>
<p>作成日: <b>{{ object.date_joined }}</b>
</td>
</tr>
{% endfor %}
</tbody>
</table>
シフト未完了者一覧
<p>
{% for object in object_list %}
{% if not object.related_user|editable:"True" == 0 %}
<li>{{ object }}　編集可 <b><font size='4'>{{ object.related_user|editable:"True" }}</font></b></li>
{% endif %}
{% endfor %}
 シフト未提出者一覧
<p>
{% for object in object_list %}
{% if object.related_user|editable:"True" and {{ object.related_user|editable:"False" }} == 0 %}
<li>{{ object }}　編集可 <b><font size='4'>{{ object.related_user|editable:"True" }}</font></b>,
     編集不可 <b><font size='4'>{{ object.related_user|editable:"False" }}</font></b></li>
{% endif %}
{% endfor %}
{% endblock %}
