{% extends "blog/base.html" %}

{% block main %}
{% load tag_library %}
    <a href="{% url 'index_post' month_previous.year month_previous.month　month_previous.day %}">前月</a>
{{ month_current | date:"Y年m月" }}
<a href="{% url 'index_post' month_next.year month_next.month month_next.day %}">次月</a>

<table class="table" style="table-layout: fixed;">
    <thead>
    <tr>
      {% for w in week_names %}
              {% if w == '土' %}
                  <td class="table-primary text-center">
              {% elif w == '日' %}
                  <td class="table-success text-center">
              {% else %}
              <th class="table-info text-center">
              {% endif %}
               {{ w }}</th>
          {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week in month_days %}
        <tr>
          <tr class="text-center">
              {% for day in week %}
              {% if day|jpholiday %}
                       <td class='table-danger'>
              {% elif day.weekday == 6 %}
                       <td class='table-danger'>
              {% elif day.weekday == 5 %}
                       <td class='table-primary'>
              {% else %}
              <td>
              {% endif %}
            {% if day|day_my_post:user %}
            <div class="maru size_normal pink1">
              <div class="letter3">
            {% else %}
            <div>
              <div>
            {% endif %}
            {% if month_current.month != day.month %}
            <a href="{% url 'index_post' day.year day.month day.day %}">{{ day | date:"m/d" }}</a>
            {% else %}
            <a href="{% url 'index_post' day.year day.month day.day %}">{{ day.day }}</a>
            {% endif %}
          </div>
        </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
 {% if date %}
<table border="1" class="table table-striped">
  <tr>
<th>{{ date|date:"Y/m/d" }}({{ date | date:"l"}})</th>
 {% endif %}
{% if date|day_my_post:user %}
  <tr>
  {% for post in date|day_my_post:user %}
    <td>　{{ post.get_start_time_display }}〜{{ post.get_end_time_display }}　
        <a class="btn  btn-primary btn-xs" href="{% url 'update' post.id %}">編集</a>
    <a class="btn  btn-danger btn-xs" href="{% url 'delete' post.id %}">削除</a>
    </td>
  {% endfor %}
  </tr>
</table>
{% else %}
</table>
{% endif %}
{% endblock %}
