<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>カレンダー</title>
</head>
<body>
    <style>
        table {
            table-layout: auto;
            width: auto;
        }

    </style>
<a href="{% url 'month_with_forms' month_previous.year month_previous.month  %}"><font size="7">前月</font></a>
<font size="7">{{ month_current | date:"Y年m月" }}</font>
<a href="{% url 'month_with_forms' month_next.year month_next.month %}"><font size="7">次月</font></a>
<form action="" method="POST">
{{ month_formset.management_form }}
<table class="table">
    <thead>
    <tr>
    {% for w in week_names %}
        {% if w == '土' %}
        <td class="table-primary">
        {% elif w == '日' %}
        <td class="table-success">
        {% else %}
        <th>
        {% endif %}      
        {{ w }}</th>
        {% endfor %}
    </tr>
        </thead>
        <tbody>
        {% for week_day_forms in month_day_forms %}
        <tr>
            {% for day, forms in week_day_forms.items %}
                <td>
                <div>
                {% if month_current.month != day.month %}
                  {{ day | date:"m/d" }}
                {% else %}
                    <b><font size="7">{{ day.day }}</font></b>
                {% endif %}
                    <br>
                    {% for field in forms %}
                    <a>開始</a>
                            {{ field.start_time }}
                    <a>終了</a>
                            {{ field.end_time }}
                            {{ field.date }}
                            {{ field.end_time.errors }}
                            {{ field.date.errors }}
                    {% endfor %}
               </div>
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="送信"/>
</form>
    
    
